.list-view {
  position: relative;
  height: 100%;
  width: 100%;

  .list-view-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 64px 0;

    .object-card {
      width: 430px;
      height: 240px;
    }
  }

  .floating-filter-button { // DO NOT TOUCH THIS PLEASE => Works on promises and false hope.
    position: absolute;
    left: calc(50% - 87px);
    top: 60px;
    background-color: #fff;
  }
}
