<div *ngIf="showComparison" class="comparison-container">
  <mat-card>
  <mat-card-header>
    <mat-card-title>Comparison</mat-card-title>
  </mat-card-header>
  <div style="display: flex; gap: 16px; justify-content: center;">
    <mat-card class="comparison-card" *ngFor="let obj of selectedFullDetails">
      <mat-card-title>{{ obj.name || obj.uid || 'Entity' }}</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let entry of filterObjectEntries(obj)">
          <strong style="text-transform: capitalize">{{ entry[0] }}:</strong>&nbsp;
          <span [ngClass]="getHighlightClass(entry[0], entry[1])">{{ entry[1] }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div style="text-align: center; margin-top: 16px;">
    <button mat-button color="warn" (click)="clearComparison()">Clear Comparison</button>
  </div>
  </mat-card>
</div>

<div class="list-view-container">
    <ng-container *ngFor="let entry of data">
      <mat-card appearance="outlined" class="object-card">

        <mat-card-content>
          <div style="display: flex; justify-content: center; width: 100%;">
            <h3 style="margin: 0; font-weight: 500">{{ config.cardTitle }}</h3>
          </div>
          <mat-list>
            <ng-container *ngFor="let detail of Object.entries(entry)">
              <mat-list-item *ngIf="checkShouldDisplayInfo(detail[0])">
                <span style="text-transform: capitalize">{{ detail[0] }}: </span>
                <span>{{ detail[1] }}</span>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </mat-card-content>

        <mat-card-footer>
          <div
            style="display: flex; align-items: center; justify-content: flex-end; margin-right: 16px; margin-bottom: 16px;">
            <button mat-button color="primary" (click)="showDetails(entry)">
              Show details
            </button>
            <button mat-button (click)="selectForComparison(entry)">
              {{ isSelectedForComparison(entry) ? 'Deselect' : 'Compare' }}
            </button>
            <button
              mat-icon-button
              color="primary"
              (click)="toggleFavorite(entry)"
            >
              <mat-icon>
                {{ entry.isFavorite ? 'favorite' : 'favorite_outlined' }}
              </mat-icon>
            </button>
          </div>
        </mat-card-footer>

      </mat-card>
    </ng-container>
  </div>

