.list-view-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px 0;

  .object-card {
    width: 430px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.comparison-container {
  margin-top: 32px;
  padding: 16px;
  border-top: 2px solid #ccc;
}

.comparison-card {
  width: 300px;
}

.highlight {
  font-weight: bold;
  color: #1976d2;
}
